<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件 component</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
<div id="app">
    <child-component :count="1"></child-component>
</div>
</div>
</body>
</html>
<script>
    Vue.component("child-component", {
        name: "aq",
        props: {
            count: {
                type: Number,
                default: 1
            }
        },
        template:'    <div class="child-component">\n' +
        '        <aq :count="count+1" v-if="count<4"></aq>\n' +
        '    </div>'
    });
    var app=new Vue({
        el:"#app"
    })
</script>
