<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue小项目-开发购物车</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app" v-cloak>
    <template v-if="list.length">
        <table>
            <thead>
            <tr>
                <th><input type="checkbox" id="allSelect" v-model="checkAll"><label for="allSelect">是否全选</label></th>
                <th></th>
                <th>商品列表</th>
                <th>商品单价</th>
                <th>购买数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in list">
                    <td><input type="checkbox" v-model="forChecks" :value="item.id" @click="changSelect(item)"></td>
                    <td>{{index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>
                        <button @click="handleReduce(item,index)" :disabled="item.count===1">-</button>
                        {{item.count}}
                        <button @click="handleAdd(item,index)">+</button>
                    </td>
                    <td>
                        <button @click="handleRemove(item,index)">移除</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>总价：¥{{totalMoney}}</div>
    </template>
    <div v-else>购物车为空</div>
</div>
<script src="../../../js/vue.js"></script>
<script src="index.js"></script>
</body>
</html>
<!--TODO:选中商品结账，未选中商品不结账demo还没有出来-->