<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>render函数的用法</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <anchor :level="1" title="特性">特性</anchor>
        <script type="text/x-template" id="anchor">
            <div>
                <h1 v-if="level===1">
                    <a :href="'#'+title">
                        <slot></slot>
                    </a>
                </h1>
                <h2 v-if="level===2">
                    <a :href="'#'+title">
                        <slot></slot>
                    </a>
                </h2>
                <h3 v-if="level===3">
                    <a :href="'#'+title">
                        <slot></slot>
                    </a>
                </h3>
                <h4 v-if="level===4">
                    <a :href="'#'+title">
                        <slot></slot>
                    </a>
                </h4>
                <h5 v-if="level===5">
                    <a :href="'#'+title">
                        <slot></slot>
                    </a>
                </h5>
                <h6 v-if="level===6">
                    <a :href="'#'+title">
                        <slot></slot>
                    </a>
                </h6>
            </div>
        </script>
    </div>

    <div id="app2">
        <anchora :level="2" title='特性'></anchora>
    </div>
</body>
</html>
<script>
    Vue.component('anchor',{
        template:'#anchor',
        props:{
            level:{
                type:Number,
                required:true
            },
            title:{
                type:String,
                default:""
            }
        }
    });

    var app=new Vue({
        el:"#app"
    });

    Vue.component("anchora",{
        props:{
            level:{
                type:Number,
                required:true
            },
            title:{
                type:String,
                default:""
            }
        },
        render:function (createElement) {
            return createElement(
                'h'+this.level,
                [
                    createElement(
                        'a',
                        {
                            domProps:{
                                href:'#'+this.title
                            }
                        },
                        this.$slots.default
                    )
                ]
            )
        }
    });

    var app2=new Vue({
        el:"#app2"
    })
</script>